@font-face {
    font-family: Russo_One;
    src: url(fonts/Russo_One/RussoOne-Regular.ttf); 
}
@font-face {
    font-family: Nunito;
    src: url(fonts/Nunito/Nunito-Regular.ttf);
}

$background-color: black;
$text-color: white;
$yellow: #FFD600;
$purple: #7031E7;

$screen_big: 1280px;
$screen_medium: 792px;
$screen_small: 375px;

$article_margin_big: 100px;
$article_margin_medium: 70px;
$article_margin_small: 40px;

$article__elements_margin_big: 60px;
$article__elements_margin_medium: 45px;
$article__elements_margin_small: 30px;

$line-size: 78px;
$line-size_small: 50px;

* {
    margin: 0;
    padding: 0;
}

.site {
    background-color: $background-color;
    color: $text-color;
    font-family: Nunito;
  
    h1, 
    h2, 
    h3, 
    h4, 
    h5, 
    h6 {
        font-weight: normal;
        font-family: Russo_One;
    }
    h1 {
        font-size: 64px;
    }
    h2 {
        font-size: 48px;

        @media screen and (max-width: $screen_medium) {
            font-size: 30px;
        }
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 20px;

        @media screen and (max-width: $screen_big) {
            font-size: 18px;
        }
        @media screen and (max-width: $screen_medium) {
            font-size: 16px;
        }
    }

    ul {
        list-style-type: none;
    }
    a {
        color: $text-color;
        text-decoration: none;
        
        &:hover {
            border-bottom: 1px solid $yellow;
        }
    }
    
    input, 
    button {
        color: $text-color;
        background-color: $background-color;
        border: 1px solid $yellow;
        border-radius: 5px;
    }

    input[type="text"] {
        font-size: 18px;
        border: none;
        border-bottom: 1px solid $purple;
        border-radius: 0;
        padding: 10px 0;
    }
    .checkbox {
        input[type="checkbox"] { 
            display: none;
        }
        label {
            font-size: 16px;

            @media screen and (max-width: $screen_medium) {
                font-size: 12px;
            }

            &::before {
                $checkbox-size: 20px;
                content: "";
                display: inline-block;
                width: $checkbox-size;
                height: $checkbox-size;
                border-radius: 5px;
                margin-right: 10px;
                background-color: $background-color;
                border: 1px solid $yellow;
                color: $text-color;
                font-size: $checkbox-size;
                line-height: $checkbox-size + 1px;
                text-align: center;
                vertical-align: middle;

                @media screen and (max-width: $screen_medium) {
                    $checkbox-size__small: 16px;
                    width: $checkbox-size__small;
                    height: $checkbox-size__small;
                    font-size: $checkbox-size__small;
                    line-height: $checkbox-size__small + 1px;
                }
            }
        }
        input:checked + label:before {
            content: "\2713";
        }
    }
    
    button {
        font-size: 24px;
        padding: 12px 24px;
        white-space: nowrap;
        cursor: pointer;

        &:hover {
            transition-duration: 0.25s;
            transform: translateY(-5px);
        }

        @media screen and (max-width: $screen_medium) {
            font-size: 20px;
            padding: 10px 20px;
        }
    }
    .margin_element {
        margin-bottom: $article__elements_margin_big;

        @media screen and (max-width: $screen_big) {
            margin-bottom: $article__elements_margin_medium;
        }
        @media screen and (max-width: $screen_medium) {
            margin-bottom: $article__elements_margin_small;
        }
    }
    .head {
        &__lines-1 {
            position: relative;
            margin-left: $line-size + 10px;

            @media screen and (max-width: $screen_medium) {
                margin-left: $line-size_small + 10px;
            }

            &::before {
                position: absolute;   
                content: ""; 
                display: inline-block;        
                border-bottom: 1px solid $yellow;
                top: 50%;
                left: -$line-size - 10px;
                width: $line-size;
    
                @media screen and (max-width: $screen_medium) {
                    left: -$line-size_small - 10px;
                    width: $line-size_small;
                }
            }
        }

        &__lines-2 {
            position: relative;

            @media screen and (max-width: $screen_medium) {
                margin-left: $line-size_small + 10px;
            }

            &::before {
                position: absolute;   
                content: ""; 
                display: inline-block;        
                border-bottom: 1px solid $yellow;
                top: 50%;
                left: -$line-size - 10px;
                width: $line-size;
    
                @media screen and (max-width: $screen_medium) {
                    left: -$line-size_small - 10px;
                    width: $line-size_small;
                }
            }

            &::after {
                position: absolute;   
                content: ""; 
                display: inline-block;        
                border-bottom: 1px solid $yellow;
                top: 50%;
                right: -$line-size - 10px;
                width: $line-size;
    
                @media screen and (max-width: $screen_medium) {
                    display: none;
                }
            }
        }
    }

    display: flex;
    align-items: center;
    flex-direction: column;

    header, 
    article, 
    footer {
        width: $screen_big - 40px;
        margin-left: 10px;
        margin-right: 10px;

        @media screen and (max-width: $screen_big) {
            width: $screen_medium - 24px;
        }
        @media screen and (max-width: $screen_medium) {
            width: $screen_small - 12px;
        }
    }
    article {
        margin: $article_margin_big 10px;

        @media screen and (max-width: $screen_big) {
            margin: $article_margin_medium 10px;
        }
        @media screen and (max-width: $screen_medium) {
            margin: $article_margin_small 10px;
        }
    }

    .header {
        display: flex;
        justify-content: space-between;
        background-color: $background-color;
        align-items: center;
        height: 100px;
        z-index: 5;

        @media screen and (max-width: $screen_medium) {
            position: fixed;
        }

        .menu {
            #menu__toggle {
                display: none;

                &:checked ~ .menu__button > span {
                    transform: rotate(45deg);
                }
                &:checked ~ .menu__button > span::before {
                    top: 0;
                    transform: rotate(0);
                }
                &:checked ~ .menu__button > span::after {
                    top: 0;
                    transform: rotate(90deg);
                }
                &:checked ~ .menu__list {
                    display: flex;
                    right: 0;
                }
            }

            &__button {
                display: none;
                position: relative;
                align-items: center;
                width: 30px;
                height: 30px;
                cursor: pointer;
                z-index: 7;

                @media screen and (max-width: $screen_medium) {
                    display: flex;
                }

                & > span,
                & > span::before,
                & > span::after {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    transition-duration: 0.25s;
                    background-color: $text-color;
                }
                & > span::before {
                    content: "";
                    top: -10px;
                }
                & > span::after {
                    content: "";
                    top: 10px;
                }
            }

            &__list {
                display: flex;
                font-size: 20px;
                transition-duration: 0.25s;
    
                @media screen and (max-width: $screen_medium) {
                    display: none;
                    flex-direction: column;
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    padding-top: 90px;
                    right: -100%;
                    z-index: 6;
                    background-color: $background-color;
                }
        
                li {
                    margin: 20px;
                    transition-duration: 0.25s;
                    position: relative;
    
                    @media screen and (max-width: $screen_big) {
                        margin: 10px;
                    }
                    @media screen and (max-width: $screen_medium) {
                        margin: 0 0 30px 60px;
                    }

                    #language__toggle {
                        display: none;
    
                        &:checked ~ .language__list {
                            display: flex;
                        }
                    }
                    .language__button {
                        cursor: pointer;
                    }
                    .language__list {
                        display: none;
                        flex-direction: column;
                        position: absolute;
                        top: 35px;
                        left: 0;
    
                        @media screen and (max-width: $screen_medium) {
                            flex-direction: unset;
                            top: 0;
                            left: 55px;
                        }
    
                        li {
                            margin: 5px 10px 5px 0;
    
                            @media screen and (max-width: $screen_medium) {
                                margin: 0 10px 0 0;
                            }
                        }
                    }
    
                    &.button-purple {
                        margin: 10px;
    
                        @media screen and (max-width: $screen_big) {
                            margin: 0 10px;
                        }
                        @media screen and (max-width: $screen_medium) {
                            margin: 0 0 30px 60px;
                        }
                
                        button {
                            font-size: 20px;
                            padding: 10px;
                            border: 1px solid $purple;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    
        
    }
    
    .poster {
        text-align: center;
        margin-top: 250px;
        margin-bottom: 50px;
        
        .carousel {
            margin-bottom: 60px;
            section {
                p {
                    font-family: Russo_One;
                    font-size: 64px;
                    color: $background-color;
                    text-shadow: $text-color 0 0 2px;
                    margin: 10px 0;

                    @media screen and (max-width: $screen_big) {
                        font-size: 46px;
                    }
                    @media screen and (max-width: $screen_medium) {
                        font-size: 30px;
                    }
                }
            }
        }
    
        p {
            font-size: 24px;
            margin-bottom: 10px;

            @media screen and (max-width: $screen_big) {
                font-size: 22px;
            }
            @media screen and (max-width: $screen_medium) {
                font-size: 18px;
            }
        }
        img {
            cursor: pointer;
            margin-bottom: 148px;
        }

        .carousel-buttons {
            display: flex;
            justify-content: center;

            span {
                margin: auto 0;
                width: 30px;
                margin: 0 5px;
                cursor: pointer;

                hr {
                    border: 1px solid $text-color;
                }
            }

            span.active {
                hr {
                    border: 1px solid $purple;
                }
            }
        }
    }
    
    .main {
        .sections {
            display: flex;
            flex-wrap: wrap;
    
            section {
                position: relative;
                width: 275px;
                height: 410px;
                padding: 10px;
                margin: 23px 7px; //23px 10px

                @media screen and (max-width: $screen_big) {
                    width: ($screen_medium - 24px) / 2 - 34px;
                    height: 300px;
                }
                @media screen and (max-width: $screen_medium) {
                    height: unset;
                }

                &:hover {
                    border: 1px solid $yellow;
                    border-radius: 5px;
                    margin: 22px 6px
                }
        
                .head {
                    display: flex;
    
                    div {
                        margin-left: 10px;
                        width: 235px;
                        border-bottom: 1px solid $yellow;

                        h3 {
                            padding-bottom: 3px;
                        }

                        @media screen and (max-width: $screen_big) {
                            width: 100%;
                        }
                    }
                }
                p {
                    margin: 20px 0;
                    font-size: 22px;

                    @media screen and (max-width: $screen_big) {
                        font-size: 20px;
                    }
                    @media screen and (max-width: $screen_medium) {
                        font-size: 18px;
                    }
                }
                .images {
                    position: absolute;
                    bottom: 10px;

                    @media screen and (max-width: $screen_medium) {
                        position: unset;
                        bottom: unset;
                    }

                    img {
                        margin: 0 2px 0 0;

                        @media screen and (max-width: $screen_big) {
                            margin: 0 11px 0 0;
                        }
                    }
                }
            }
        }
    }
    
    .hire {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .head {
            display: flex;
            justify-content: center;

            @media screen and (max-width: $screen_medium) {
                display: unset;
            }
    
            h2 {
                &::before {
                    left: -$line-size - 25px;
        
                    @media screen and (max-width: $screen_medium) {
                        left: -$line-size_small - 10px;
                    }
                }
    
                &::after {
                    right: -$line-size - 25px;
                }
            }
        }
        &__text {
            text-align: center;
        }
        button {
            width: 128px;
            margin: auto;
        }
    }
    
    .contact-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 820px;

        @media screen and (max-width: $screen_big) {
            width: $screen_medium - 12px;
        }
        @media screen and (max-width: $screen_medium) {
            width: $screen_small - 12px;
        }
    
        .head {
            display: flex;
            justify-content: center;

            @media screen and (max-width: $screen_medium) {
                display: unset;
            }
        }
    
        &__form {
            .form-group {
                position: relative;
                direction: rtl;

                label {
                    position: absolute;
                    left: 0;
                    top: 10px;
                    color: rgba(255, 255, 255, 0.5);
                    transition: transform 150ms ease-out, font-size 150ms ease-out;
                    z-index: 1;

                    &:hover {
                        color: $text-color;
                    }
                }
                input {
                    position: relative;
                    direction: ltr;

                    &:focus + label {
                        color: $text-color;
                    }
                }
            }

            .focused label {
                transform: translateY(-160%);
                font-size: 14px;

                &:hover {
                    color: rgba(255, 255, 255, 0.5);
                }
            }

            .contact {
                display: flex;
                justify-content: space-between;

                input {
                    width: 400px;

                    @media screen and (max-width: $screen_big) {
                        width: ($screen_medium - 12px) / 2 - 20px;
                    }
                    @media screen and (max-width: $screen_medium) {
                        width: ($screen_small - 12px) / 2 - 8px;
                    }
                }
            }

            .message {
                width: 100%;
            }
        
            .sending {
                display: flex;
                justify-content: space-between;
    
                &__checkboxes {
                    display: flex;
                    flex-direction: column;

                    @media screen and (max-width: $screen_medium) {
                        width: 230px;
                    }
    
                    div {
                        margin-top: 10px;
                    }
                }

                button {
                    width: 104px;
                    height: 57px;

                    @media screen and (max-width: $screen_medium) {
                        width: 90px;
                        height: 47px;
                    }
                }
            }
        }
    
        
    }
    
    .footer-menu {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        margin-bottom: 70px;

        @media screen and (max-width: $screen_big) {
            margin-bottom: 50px;
            flex-direction: column;
        }
        @media screen and (max-width: $screen_medium) {
            margin-bottom: 30px;
            font-size: 16px;
        }

        ul {
            li {
                white-space: nowrap;
                margin-bottom: 18px;
            }
        }

        .lists {
            display: flex;

            @media screen and (max-width: $screen_medium) {
                flex-direction: column;
            }

            .nav {
                display: flex;
                justify-content: space-between;
                margin-right: 70px;

                @media screen and (max-width: $screen_big) {
                    margin-right: 90px;
                }
                @media screen and (max-width: $screen_medium) {
                    margin-right: 0;
                    margin-bottom: 50px;
                }

                .menu {
                    margin-right: 140px;

                    @media screen and (max-width: $screen_big) {
                        margin-right: 170px;
                    }
                    @media screen and (max-width: $screen_medium) {
                        margin-right: 70px;
                    }
                }
                .contacts {
                    li:last-child {
                        a {
                            max-width: 117px;
                        }
                    }
                }
            }

            .social {
                @media screen and (max-width: $screen_medium) {
                    ul {
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
        
        .images {
            @media screen and (max-width: $screen_big) {
                display: flex;
                justify-content: space-between;
                order: -1;
            }

            div {
                display: flex;
                justify-content: space-between;
                width: 420px;
                margin-bottom: 23px;

                @media screen and (max-width: $screen_big) {
                    width: ($screen_medium - 24px) / 2 - 10px;
                }

                @media screen and (max-width: $screen_medium) {
                    width: ($screen_small - 25px) / 2;
                    margin-bottom: 50px;

                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
    
    .footer {
        font-size: 16px;
        margin: 20px 0;

        @media screen and (max-width: $screen_big) {
            font-size: 14px;
        }
        @media screen and (max-width: $screen_medium) {
            font-size: 10px;
        }
    
        img {
            margin-right: 16px;

            @media screen and (max-width: $screen_big) {
                margin-right: 14px;
            }
            @media screen and (max-width: $screen_medium) {
                margin-right: 7px;
            }
        }
    }
}
